@model IEnumerable<CrudApp.Models.MIP>

@{
    ViewData["Title"] = "MIP";
}

<h1>MIP</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MIPName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MIPName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MIPID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.MIPID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
